<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to Jungle <%= title %></p>
    <% if(session_data.sessionID)
       { %>
         <%= "Thanks for submitting your form. The information you submitted is Email: " + session_data.email + ", Name: " + session_data.name %>
    <% } %>       
     <form action="/process" method="post">
      <input type="text" name="email" placeholder="Email" />
      <input type="text" name="my_name" placeholder="Name" />
      <input type="submit" value="Submit" />
    </form>
  </body>
</html>
